body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:73px;
  width:113px;
  height:21px;
  font-size:16px;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:180px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:352px;
  width:260px;
  height:180px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:31px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:433px;
  width:26px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:47px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:394px;
  width:45px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:388px;
  width:45px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:39px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:445px;
  width:32px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:444px;
  width:25px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:448px;
  width:12px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:49px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:448px;
  width:71px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:49px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:448px;
  width:30px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:502px;
  width:29px;
  height:19px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:180px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u27 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:132px;
  width:260px;
  height:180px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:51px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:226px;
  width:91px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:223px;
  width:37px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:53px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:183px;
  width:55px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:168px;
  width:51px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:6px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:246px;
  width:7px;
  height:6px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:258px;
  width:7px;
  height:7px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:11px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:200px;
  width:32px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:2px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:202px;
  width:7px;
  height:2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DADBDB;
  text-align:left;
  line-height:28px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:283px;
  width:29px;
  height:19px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
